<div class="containerr" *ngIf="showLoader == true">
  <div class="loader"></div>
</div>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
    <div style="background-color:#1a5db4ea;color: white;opacity: 0.78;"
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <!-- <a class="navbar-brand brand-logo" href="index-2.html"><img src="../../../assets/images/MySiteLogo.png" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="index-2.html"><img src="../../../assets/images/MySiteLogo.png" alt="logo"/></a> -->
      <h4>𝕰𝖆𝖗𝖓 𝕺𝖓𝖑𝖎𝖓𝖊</h4>
    </div>
    <div style="background-color:#1a5db4ea;color: white;opacity: 0.79;"
      class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="fas fa-bars"></span>
      </button>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown">
          <h2>Online Investment Guide</h2>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="../../../assets/images/faces/face20.jpg" alt="profile" />
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" style="cursor: pointer;" (click)="showProfile()">
              <i class="fas fa-cog text-primary"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="cursor: pointer;" routerLink="/login">
              <i class="fas fa-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
        <li class="nav-item nav-settings d-none d-lg-block">
          <a class="nav-link" style="cursor: pointer;" routerLink="/login">
            <i class="fas fa-power-off"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="fas fa-bars"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div style="cursor: pointer;" id="settings-trigger"><span class="nav-item nav-settings d-none d-lg-block"><i
            class="fas fa-envelope mx-0"></i></span></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close fa fa-times"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme">
          <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
        </div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme">
          <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
        </div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles primary"></div>
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    <div id="right-sidebar" class="settings-panel">
      <i class="settings-close fa fa-times"></i>
      <ul class="nav nav-tabs" id="setting-panel" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab"
            aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab"
            aria-controls="chats-section">CHATS</a>
        </li>
      </ul>
      <div class="tab-content" id="setting-content">
        <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel"
          aria-labelledby="todo-section">
          <div class="add-items d-flex px-3 mb-0">
            <form class="form w-100">
              <div class="form-group d-flex">
                <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task-todo">Add</button>
              </div>
            </form>
          </div>
          <div class="list-wrapper px-3">
            <ul class="d-flex flex-column-reverse todo-list">
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Team review meeting at 3.00 PM
                  </label>
                </div>
                <i class="remove fa fa-times-circle"></i>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Prepare for presentation
                  </label>
                </div>
                <i class="remove fa fa-times-circle"></i>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Resolve all the low priority tickets due today
                  </label>
                </div>
                <i class="remove fa fa-times-circle"></i>
              </li>
              <li class="completed">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked>
                    Schedule meeting for next week
                  </label>
                </div>
                <i class="remove fa fa-times-circle"></i>
              </li>
              <li class="completed">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked>
                    Project review
                  </label>
                </div>
                <i class="remove fa fa-times-circle"></i>
              </li>
            </ul>
          </div>
          <div class="events py-4 border-bottom px-3">
            <div class="wrapper d-flex mb-2">
              <i class="fa fa-times-circle text-primary mr-2"></i>
              <span>Feb 11 2018</span>
            </div>
            <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
            <p class="text-gray mb-0">build a js based app</p>
          </div>
          <div class="events pt-4 px-3">
            <div class="wrapper d-flex mb-2">
              <i class="fa fa-times-circle text-primary mr-2"></i>
              <span>Feb 7 2018</span>
            </div>
            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
            <p class="text-gray mb-0 ">Call Sarah Graves</p>
          </div>
        </div>
        <!-- To do section tab ends -->
        <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See
              All</small>
          </div>
          <ul class="chat-list">
            <li class="list active">
              <div class="profile"><img src="../../../assets/images/faces/face1.jpg" alt="image"><span
                  class="online"></span></div>
              <div class="info">
                <p>Thomas Douglas</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">19 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="../../../assets/images/faces/face2.jpg" alt="image"><span
                  class="offline"></span></div>
              <div class="info">
                <div class="wrapper d-flex">
                  <p>Catherine</p>
                </div>
                <p>Away</p>
              </div>
              <div class="badge badge-success badge-pill my-auto mx-2">4</div>
              <small class="text-muted my-auto">23 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="../../../assets/images/faces/face3.jpg" alt="image"><span
                  class="online"></span></div>
              <div class="info">
                <p>Daniel Russell</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">14 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="../../../assets/images/faces/face4.jpg" alt="image"><span
                  class="offline"></span></div>
              <div class="info">
                <p>James Richardson</p>
                <p>Away</p>
              </div>
              <small class="text-muted my-auto">2 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="../../../assets/images/faces/face5.jpg" alt="image"><span
                  class="online"></span></div>
              <div class="info">
                <p>Madeline Kennedy</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">5 min</small>
            </li>
            <li class="list">
              <div class="profile"><img src="../../../assets/images/faces/face6.jpg" alt="image"><span
                  class="online"></span></div>
              <div class="info">
                <p>Sarah Graves</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">47 min</small>
            </li>
          </ul>
        </div>
        <!-- chat tab ends -->
      </div>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="profile-image">
              <img src="../../../assets/images/faces/face20.jpg" alt="image" />
            </div>
            <div class="profile-name">
              <p class="name">
                Welcome {{profileDetails.userName}}
              </p>
              <p class="designation">
                {{users.userName}}
              </p>
            </div>
          </div>
          <hr>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/advisorHomepage" style="cursor: pointer;">
            <i class="fa fa-home menu-icon"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <div class="navItems-custom" id="navItemLi-Request">
            <a class="nav-link" style="cursor: pointer;" id="listItem-Custom-Request"
              (click)="activate('listItem-Custom-Request','navItemLi-Request','arrow-Request-close')">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Requests</span>
              <i class="menu-arrow" id="arrow-Request-close"></i>
            </a>
            <a class="nav-link" style="cursor: pointer;margin-left: 15px;" (click)="getHiringRequests()">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Investor Requests</span>
            </a>
            <a class="nav-link" style="cursor: pointer;margin-left: 15px;" (click)="getRequestsHistory()">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Request History</span>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="navItems-custom" id="navItemLi-Client">
            <a class="nav-link" style="cursor: pointer;" id="listItem-Custom-Client"
              (click)="activate('listItem-Custom-Client','navItemLi-Client','arrow-Client-close')">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Clients</span>
              <i class="menu-arrow" id="arrow-Client-close"></i>
            </a>
            <a class="nav-link" style="cursor: pointer;margin-left: 15px;">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Current Clients</span>
            </a>
            <a class="nav-link" style="cursor: pointer;margin-left: 15px;">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">History</span>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="navItems-custom" id="navItemLi-Business">
            <a class="nav-link" style="cursor: pointer;" id="listItem-Custom-Business"
              (click)="activate('listItem-Custom-Business','navItemLi-Business','arrow-Business-close')">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Business</span>
              <i class="menu-arrow" id="arrow-Business-close"></i>
            </a>
            <a class="nav-link" style="cursor: pointer;margin-left: 15px;" (click)="getAllBusiness()">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">All Businesses</span>
            </a>
            <a class="nav-link" style="cursor: pointer;margin-left: 15px;" (click)="getAdvisorBusiness()">
              <i class="fa fa-user-astronaut menu-icon"></i>
              <span class="menu-title">Advised By Me</span>
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper" style="min-height: 100vh;"
        *ngIf="profile == false && tblHiringRequests == false && tblBusiness==false;">
        <div class="page-header">
          <h3 class="page-title">
            Dashboard
          </h3>
        </div>
        <div class="card" style="min-height: 70vh; width: 100%;">
          <div class="card-body">
            <h4 class="card-title">My Businesses</h4>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="order-listing" class="table">
                    <thead>
                      <tr class="bg-primary text-white">
                        <th>Sr.</th>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Owner Email</th>
                        <th>Category</th>
                        <th>Address</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of business;let id = index">
                        <td>{{id+1}}</td>
                        <td>{{item.bName}}</td>
                        <td>{{item.bOwner}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.bCategory}}</td>
                        <td>{{item.address}}</td>
                        <!-- <td>
                          <label class="badge badge-info">On hold</label>
                        </td> -->
                        <td class="text-center" style="margin: 5px;">
                          <button title="View Details" class="btn btn-light" style="padding: 10px;"
                            (click)="getBusinessInfo(item.bId)">
                            <i class="fa fa-eye text-primary"></i>
                          </button>
                          <!-- <button class="btn btn-light" style="padding-top: 4px;padding-bottom: 4px;padding-left: 3px;
                        padding-right: 3px;
                        margin: 5px;">
                            <i class="fa fa-times text-danger"></i>Remove
                          </button> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper" *ngIf="profile == true">
        <div class="page-header">
          <h3 class="page-title">
            Profile
          </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{profileDetails.userName}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="border-bottom text-center pb-4">
                      <img src="../../../assets/images/faces/face13.jpg" alt="profile"
                        class="img-lg rounded-circle mb-3" />
                      <p>{{profileDetails.description}}</p>
                      <div class="d-flex justify-content-between">
                        <span>{{profileDetails.userName}}</span>
                        <!-- <span>Rating : {{profileDetails.rating}}</span> -->
                        <span style="color: goldenrod; font-size: 10pt;">
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 0"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 1"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 2"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 3"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 4"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 5"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 6"></i>
                          <i class="fa fa-star" *ngIf="profileDetails.rating > 7"></i>
                        </span>
                      </div>
                    </div>
                    <div class="border-bottom py-4">
                      <p>Skills</p>
                      <div>
                        <label style="margin-left: 8px;" *ngFor="let item of skills"
                          class="badge badge-outline-dark">{{item}}</label>
                      </div>
                    </div>
                    <div class="border-bottom py-4">
                      <div class="d-flex mb-3">
                        <div class="progress progress-md flex-grow">
                          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" style="width: 55%"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="progress progress-md flex-grow">
                          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" style="width: 75%"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Status
                        </span>
                        <span class="float-right text-muted">
                          {{profileDetails.status}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Phone
                        </span>
                        <span class="float-right text-muted">
                          {{profileDetails.contact}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Mail
                        </span>
                        <span class="float-right text-muted">
                          {{profileDetails.email}}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Firm Name
                        </span>
                        <span class="float-right text-muted">
                          <a href="#">{{profileDetails.firmName}}</a>
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Since
                        </span>
                        <span class="float-right text-muted">
                          {{profileDetails.since}}
                        </span>
                      </p>
                    </div>
                    <button class="btn btn-primary btn-block">Preview</button>
                  </div>
                  <div class="col-lg-8 pl-lg-5">
                    <div class="d-flex justify-content-between">
                      <div>
                        <h3>{{profileDetails.userName}}</h3>
                        <div class="d-flex align-items-center">
                          <h5 class="mb-0 mr-2 text-muted">{{profileDetails.country}}</h5>
                        </div>
                      </div>
                      <div>
                        <i class="fa fa-times" style="margin:10px;cursor: pointer;" (click)="hideProfile()"></i>
                      </div>
                    </div>
                    <div class="mt-4 py-2 border-top border-bottom">
                      <ul class="nav profile-navbar">
                        <li class="nav-item">
                          <a class="nav-link" style="cursor:pointer" (click)="showProgressSummary()">
                            <i class="fa fa-user"></i>
                            Work History
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" style="cursor:pointer" (click)="editProfile()">
                            <i class="fa fa-pen"></i>
                            Edit Profile
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="profile-feed">
                      <div class="d-flex align-items-start profile-feed-item">
                        <div class="card" style="width: 100%;">
                          <div class="card-body" *ngIf="profileEdit == false">
                            <h4 class="card-title">My Businesses</h4>
                            <div class="row">
                              <div class="col-12">
                                <div class="table-responsive">
                                  <table id="order-listing" class="table">
                                    <thead>
                                      <tr class="bg-primary text-white">
                                        <th>Title</th>
                                        <th>Owner</th>
                                        <th>Owner Email</th>
                                        <th>Category</th>
                                        <th>Address</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of business">
                                        <td>{{item.bName}}</td>
                                        <td>{{item.bOwner}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item.bCategory}}</td>
                                        <td>{{item.address}}</td>
                                        <td>
                                          <label class="badge badge-info">On hold</label>
                                        </td>
                                        <td class="text-right" style="padding: 0;">
                                          <button class="btn btn-light" style="padding-top: 4px;padding-bottom: 4px;padding-left: 2px;
                                        padding-right: 2px;
                                        margin: 2px;">
                                            <i class="fa fa-eye text-primary"></i>View
                                          </button>
                                          <button class="btn btn-light" style="padding-top: 4px;padding-bottom: 4px;padding-left: 2px;
                                        padding-right: 2px;
                                        margin: 2px;">
                                            <i class="fa fa-times text-danger"></i>Remove
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body" *ngIf="profileEdit">
                            <h4 class="card-title">Edit Profile </h4>
                            <p class="card-description">
                              {{users.email}} (Profile Details)
                            </p>
                            <!-- <form [formGroup]="userEdit" class="forms-sample" (ngSubmit)="updateProfileChanges()">
                              <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">User Name</label>
                                <div class="col-sm-9">
                                  <input type="text" formControlName="userName" value="{{profileDetails.userName}}"
                                    class="form-control" id="exampleInputUsername2" placeholder="Username">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Contact #.</label>
                                <div class="col-sm-9">
                                  <input type="text" formControlName="contact" value="{{profileDetails.contact}}"
                                    class="form-control" id="exampleInputEmail2" placeholder="Contact no.">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Firm Name</label>
                                <div class="col-sm-9">
                                  <input type="text" formControlName="firmName" value="{{profileDetails.firmName}}"
                                    class="form-control" id="exampleInputMobile" placeholder="Firm Name">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Skills</label>
                                <div class="col-sm-9">
                                  <input type="text" formControlName="skills" value="{{profileDetails.skills}}"
                                    class="form-control" id="exampleInputPassword2"
                                    placeholder="Add New Skill ( Must be ' , ' Seperated )">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                  <textarea type="text" formControlName="description"
                                    value="{{profileDetails.description}}" class="form-control"
                                    id="exampleInputPassword2" placeholder="Describe your-self"></textarea>
                                </div>
                              </div>
                              <button type="submit" class="btn btn-primary mr-2">Submit</button>
                              <button type="reset" class="btn btn-light">Cancel</button>
                            </form> -->
                            <form #profileEditForm="ngForm" (ngSubmit)="updateProfileChanges()">
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">User Name</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" #userName="ngModel" pattern="[a-zA-Z ]+$"
                                    required name="UserName" placeholder="Username" [(ngModel)]="userEdit.userName" />
                                  <span *ngIf="userName.invalid && userName.touched" style="color:red">Please Enter
                                    Vaild Input</span>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Contact #.</label>
                                <div class="col-sm-9">
                                  <input type="email" class="form-control" #contact="ngModel" pattern="[0-9]+$"
                                    minlength="11" required name="contact" placeholder="Contact"
                                    [(ngModel)]="userEdit.contact" />
                                  <span *ngIf="contact.invalid && contact.touched" style="color:red">Please enter a
                                    valid Contact</span>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Firm Name</label>
                                <div class="col-sm-9">
                                  <textarea type="text" class="form-control" #firmName="ngModel" required
                                    name="firmName" [(ngModel)]="userEdit.firmName" placeholder="Firm Name"></textarea>
                                  <span *ngIf="firmName.invalid && firmName.touched" style="color:red">Please enter
                                    a Firm Name</span>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" #description="ngModel" required
                                    name="description" [(ngModel)]="userEdit.description" placeholder="Description" />
                                  <span *ngIf="description.invalid && description.touched" style="color:red">Please
                                    enter
                                    a description</span><br>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Your
                                  Skill-set</label>
                                <div class="col-sm-9">
                                  <input type="text" disabled class="form-control" #skills="ngModel" required
                                    name="skills" [(ngModel)]="userEdit.skills" placeholder="Skill-List" />
                                  <p class="card-description" style="float: right;">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Advised by
                                  you</label>
                                <div class="col-sm-9">
                                  <input type="text" disabled class="form-control" #skillList="ngModel" required
                                    name="skillList" [(ngModel)]="userEdit.skillList" placeholder="Business Advised" />
                                  <p class="card-description" style="float: right;">
                                    <button title="Advise a new business" (click)="revealSkillCanvas()" type="button"
                                      class="btn btn-inverse-info btn-icon btn-rounded btn-icon">+</button>
                                  </p>
                                </div>
                              </div>
                              <button type="submit" [disabled]="profileEditForm.invalid" type="submit"
                                class="btn btn-primary mr-2">Submit</button>
                              <button type="reset" class="btn btn-light">Cancel</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="min-height: 100vh;" *ngIf="tblHiringRequests == true">
        <div class="card-body">
          <h4 class="card-title" style="float: left;">Requests</h4>
          <div style="right: 5px;right: 5px;text-align: right;margin-bottom: 30px;"><i style="cursor: pointer;"
              class="fa fa-times" (click)="hideHiringRequests()"></i></div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive" style="overflow-y: hidden;">
                <table id="order-listing1" class="table">
                  <thead>
                    <tr>
                      <th>Investor Email</th>
                      <th>Requested On</th>
                      <th>Request Status</th>
                      <th *ngIf="history == false">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hiringRequests">
                      <td>{{item.userEmail}}</td>
                      <td>{{item.userPassword}}</td>
                      <td>
                        <button *ngIf="item.requestStatus == 'Accepted' && history == true" style="margin-right: 8px;"
                          class="btn btn-sm btn-success btn-rounded btn-icon">
                          <i class="fa fa-check"></i></button>
                        <button *ngIf="item.requestStatus == 'Pending' && history == true" style="margin-right: 8px;"
                          class="btn btn-sm btn-warning btn-rounded btn-icon">
                          <i class="fa fa-exclamation-triangle"></i></button>
                        <button *ngIf="item.requestStatus == 'Rejected' && history == true" style="margin-right: 8px;"
                          class="btn btn-sm btn-danger btn-rounded btn-icon">
                          <i class="fa fa-times"></i></button>
                        {{item.requestStatus}}
                      </td>
                      <td *ngIf="history == false"><button *ngIf="item.requestStatus != 'Accepted' && history == false"
                          style="margin-right: 10px;" (click)="acceptHiringRequest(item.userEmail)"
                          class="btn btn-sm btn-outline-success btn-rounded btn-icon"><i
                            class="fa fa-check"></i></button><button
                          class="btn btn-sm btn-outline-danger btn-rounded btn-icon"
                          *ngIf="item.requestStatus != 'Accepted' && history == false"
                          (click)="rejectHiringRequest(item.userEmail)"><i class="fa fa-times"></i></button>
                        <!-- <button class="btn btn-sm btn-success"
                          *ngIf="item.requestStatus == 'Accepted' && history == true">Accepted</button>
                        <button class="btn btn-sm btn-danger"
                          *ngIf="item.requestStatus == 'Declined' && history == true">Declined</button>
                        <button class="btn btn-sm btn-warning"
                          *ngIf="item.requestStatus == 'Pending' && history == true">Pending</button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="min-height: 100vh;" *ngIf="tblBusiness==true">
        <div class="card-body">
          <h4 class="card-title" style="float: left;">Available Business</h4>
          <span style="float:right;padding:5px" (click)="hideBusiness()">
            <i style="cursor: pointer;" class="fa fa-times"></i>
          </span>
          <div class="row" style="width: 75%;float:right;">
            <div class="col-sm-5" *ngIf="viewAllBusiness">
              <form [formGroup]="bCat">
                <select formControlName="category" class="form-control" name="category" id="Category">
                  <option>Food</option>
                  <option>Property</option>
                  <option>Vehicles</option>
                </select>
              </form>
            </div>
            <div class="col-sm-5" *ngIf="viewAllBusiness">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Risk you can afford . . "
                  [(ngModel)]="riskPercentage" />
              </div>
            </div>
            <div class="col-sm-2" *ngIf="viewAllBusiness">
              <button class="btn btn-inverse-dark btn-icon" (click)="getFilteredBusiness()"><i
                  class="fas fa-filter"></i></button>
            </div>
          </div>
          <div class="row" style="margin-top: 50px;">
            <div class="col-12">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Bussiness Title</th>
                      <th>Owner Name</th>
                      <th>Owner Email</th>
                      <th>Category</th>
                      <th>Address</th>
                      <th>Since</th>
                      <th>RiskFactor</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of business">
                      <td>1</td>
                      <td>{{item.bName}}</td>
                      <td>{{item.bOwner}}</td>
                      <td>{{item.status}}</td>
                      <td>{{item.bCategory}}</td>
                      <td>{{item.address}}</td>
                      <td>{{item.registeredOn}}</td>
                      <td style="min-width: 150px;">
                        <div class="br-wrapper br-theme-bars-1to10">
                          <select id="example-1to10" name="rating" autocomplete="off">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7" selected="selected">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                          <div class="br-widget">
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="1"
                              *ngIf="item.riskFactor < 1" data-rating-text="1" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="1" *ngIf="item.riskFactor > 0"
                              data-rating-text="1" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="2"
                              *ngIf="item.riskFactor < 2" data-rating-text="2" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="2" *ngIf="item.riskFactor > 1"
                              data-rating-text="2" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="3"
                              *ngIf="item.riskFactor < 3" data-rating-text="3" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="3" *ngIf="item.riskFactor > 2"
                              data-rating-text="3" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="4"
                              *ngIf="item.riskFactor < 4" data-rating-text="4" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="4" *ngIf="item.riskFactor > 3"
                              data-rating-text="4" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="5"
                              *ngIf="item.riskFactor < 5" data-rating-text="5" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="5" *ngIf="item.riskFactor > 4"
                              data-rating-text="5" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="6"
                              *ngIf="item.riskFactor < 6" data-rating-text="6" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="6" *ngIf="item.riskFactor > 5"
                              data-rating-text="6" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="7"
                              *ngIf="item.riskFactor < 7" data-rating-text="7" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="7" *ngIf="item.riskFactor > 6"
                              data-rating-text="7" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="8"
                              *ngIf="item.riskFactor < 8" data-rating-text="8" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="8" *ngIf="item.riskFactor > 7"
                              data-rating-text="8" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="9"
                              *ngIf="item.riskFactor < 9" data-rating-text="9" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="9" *ngIf="item.riskFactor > 8"
                              data-rating-text="9" class="br-selected"></a>
                            <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="10"
                              *ngIf="item.riskFactor < 10" data-rating-text="10" class=""></a>
                            <a href="#" style="background-color: red;" data-rating-value="10"
                              *ngIf="item.riskFactor > 9" data-rating-text="10" class="br-selected"></a>
                            <div class="br-current-rating">{{item.riskFactor}}</div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button class="btn btn-inverse-danger" title="Rate Risk" *ngIf="viewAllBusiness"
                          (click)="rateRisk(item.bId)"><i class="fa fa-star"></i></button>
                        <button class="btn btn-inverse-info" title="More Info" *ngIf="!viewAllBusiness"><i
                            class="fa fa-info"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018. All rights
            reserved.</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
              class="far fa-heart text-danger"></i></span>
        </div>
      </footer>
      <div id="ghost" style="width: 100%;position:absolute;height:165vh;background-color: black;opacity: 0.15;top: 0;">
      </div>
      <div class="offcanvas-custom ml-auto" id="offcanvas-SkillCanvas">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-8 offcanvas-custom-col">
            <span class="btn btn-rounded btn-inverse-info btn-sm"
              style="float: right;font-size: 14pt;margin:15px;cursor: pointer;" (click)="hideSkillCanvas()"><i
                class="fa fa-angle-right"></i></span>
            <div class="table-responsive" style="overflow-y: hidden;overflow-x:hidden">
              <div class="col-lg-12 grid-margin stretch-card" style="margin-top: 33px;">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Skill Selction</h4>
                    <p class="card-description" style="float: left;">
                      Skill set for <code>{{users.email}}</code>
                    </p>
                    <div class="table-responsive" style="margin-top:10px;overflow-y: hidden;">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th *ngFor="let item of categories">
                              <span style="margin:20px" (click)="expandSubcategory(item)"><i
                                  class="fa fa-plus"></i></span>
                              {{item}}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td *ngFor="let item of categories">
                              <div attr.id="{{item}}"
                                style="height: 0px;overflow-y: hidden;overflow-x: hidden;transition: all 0.5s;margin-left: 35px;padding-top:5px">
                                <div *ngFor="let item1 of business"
                                  class="form-check form-check-flat form-check-primary" style="margin: 5px;">
                                  <label (click)="checkSkillList(item1.bName,item)" class="form-check-label"
                                    *ngIf="item1.bCategory == item">
                                    <input attr.id="{{item1.bName}}" type="checkbox"
                                      class="form-check-input">{{item1.bName}}
                                    <i class="input-helper"></i>
                                  </label>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <span style="float: right;margin-top:10px"><button (click)="alertSave()"
                          class="btn btn-inverse-success btn-sm">Save</button></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offcanvas-custom ml-auto" id="offcanvas-businessInfo" style="margin-top: 0px;">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10 offcanvas-custom-col">
            <span class="btn btn-rounded btn-inverse-info btn-sm"
              style="float: right;font-size: 14pt;margin:15px;cursor: pointer;" (click)="hideBusinessInfo()"><i
                class="fa fa-angle-right"></i>
              </span>
              <div class="card px-2" style="margin-top: 70px;">
                <div class="card-body">
                  <div class="container-fluid d-flex justify-content-between">
                    <div class="col-lg-3 pl-0">
                      <p class="mb-2"><b>{{businessInfo.bName}}</b></p>
                      <p>104,<br>{{businessInfo.address}}</p>
                    </div>
                    <div class="col-lg-3 pr-0">
                      <p class="mb-2 text-right"><b>Business Owner</b></p>
                      <p class="text-right">{{businessInfo.bOwner}}<br> C-201, Beykoz-34800,<br>{{businessInfo.address}}
                      </p>
                    </div>
                  </div>
                  <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                    <div class="table-responsive w-100">
                      <table class="table">
                        <thead>
                          <tr class="bg-dark text-white">
                            <th>#</th>
                            <th>Description</th>
                            <th class="text-right">Total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="text-right">
                            <td class="text-left">1</td>
                            <td class="text-left">Progress</td>
                            <td>{{businessInfo.progress}}</td>
                          </tr>
                          <tr class="text-right">
                            <td class="text-left">2</td>
                            <td class="text-left">Registeration Date : </td>
                            <td><span class="text-left">{{businessInfo.registeredOn}}</span></td>
                          </tr>
                          <tr class="text-right">
                            <td class="text-left">3</td>
                            <td class="text-left">Risk Factor</td>
                            <td *ngIf="businessInfo.riskFactor <5"><span
                                class="btn btn-outline-success">{{businessInfo.riskFactor}}</span></td>
                            <td *ngIf="businessInfo.riskFactor >5"><span
                                class="btn btn-outline-danger">{{businessInfo.riskFactor}}</span></td>
                          </tr>
                          <tr class="text-right">
                            <td class="text-left">4</td>
                            <td class="text-left">Status</td>
                            <td><span class="btn btn-warning">{{businessInfo.status}}</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
