.offcanvas-custom{
  width: 0%;
  right: 0;
  height: 100vh;
  transition : width 0.5s;
  margin-top:200px;
}
.offcanvas-custom-col{
  border: 0.25px solid lightgray;
  background-color: white;
  height: 90vh;
}
.navItems-custom{
  width: 100%;
  height: 50px;
  overflow: hidden;
  transition: all 0.5s;
}
.navItems-customchange{
  height: 120px;
}
