<div class="containerr" *ngIf="showLoader == true">
  <div class="loader"></div>
</div>
<div class="container-scroller" *ngIf="showLoader == false">
  <nav class="navbar horizontal-layout-navbar fixed-top navbar-expand-lg">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
      <a class="navbar-brand brand-logo"><img src="../../../assets/images/logo.svg" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini"><img src="../../../assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex flex-grow">
      <ul class="navbar-nav navbar-nav-left collapse navbar-collapse" id="horizontal-top-example">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="projects-dropdown" data-toggle="dropdown"
            aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="projects-dropdown">
            <a class="dropdown-item" style="cursor: pointer;" routerLink="/profile">
              <i class="fa fa-user-astronaut mr-2 text-primary"></i>
              Portfolio
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user-edit mr-2 text-primary"></i>
              Edit Profile
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="employees-dropdown" data-toggle="dropdown"
            aria-expanded="false">
            Business Catalogue
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="employees-dropdown">
            <a class="dropdown-item" href="#">
              <i class="fa fa-building mr-2 text-primary"></i>
              Property
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-car mr-2 text-primary"></i>
              Cars
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-school mr-2 text-primary"></i>
              School
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fas fa-seedling mr-2 text-primary"></i>
              Agriculture
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fas fa-hotel mr-2 text-primary"></i>
              Restaurants
            </a>
          </div>
        </li>
        <!-- <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle active">
              My Businesses
            </a>
          </li>
        </ul> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="actions-dropdown" data-toggle="dropdown"
            aria-expanded="false">
            My Businesses
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
            <a class="dropdown-item" style="cursor: pointer;" (click)="getMyBusinesses()">
              <i class="fa fa-star mr-2 text-primary"></i>
              View Details
            </a>
          </div>
        </li>
        <li class="nav-item d-none d-lg-flex" style="cursor: pointer;">
          <a class="nav-link"><span class="btn btn-info" data-toggle="modal" data-target="#exampleModal-2">+ New
              Business</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile">
          <a class="nav-link" style="cursor: pointer;" (click)="showProfile()">
            <div class="nav-profile-text">
              {{users.email}}
            </div>
            <div class="nav-profile-img">
              <img src="../../../assets/images/faces/face20.jpg" alt="image" class="img-xs rounded-circle ml-3">
              <span class="availability-status online"></span>
            </div>
          </a>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" (click)="logout()">
            <i class="fas fa-power-off font-weight-bold icon-sm"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper" style="margin-top: 73px;min-height: 100vh;" *ngIf="profile == false && showBusinessInfo == false">
    <div class="page-header">
      <h3 class="page-title">
        Dashboard
      </h3>
    </div>
    <div class="row grid-margin">
      <div class="col-12">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fa fa-user mr-2"></i>
                  Total Investors
                </p>
                <h2>54000</h2>
                <label class="badge badge-outline-success badge-pill">2.7% increase</label>
              </div>
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fas fa-chart-line mr-2"></i>
                  Businesses
                </p>
                <h2>9000</h2>
                <label class="badge badge-outline-success badge-pill">10% increase</label>
              </div>
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fas fa-circle-notch mr-2"></i>
                  Pending Projects
                </p>
                <h2>7500</h2>
                <label class="badge badge-outline-danger badge-pill">16% decrease</label>
              </div>
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fas fa-cloud-download-alt mr-2"></i>
                  Completed Projects
                </p>
                <h2>3500</h2>
                <label class="badge badge-outline-success badge-pill">12% increase</label>
              </div>
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fas fa-check-circle mr-2"></i>
                  Active
                </p>
                <h2>7500</h2>
                <label class="badge badge-outline-success badge-pill">57% increase</label>
              </div>
              <div class="statistics-item">
                <p>
                  <i class="icon-sm fas fa-hourglass-half mr-2"></i>
                  Avg Time
                </p>
                <h2 style="font-size: 23px;">{{time.email}}</h2>
                <label class="badge badge-outline-danger badge-pill">30% decrease</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card" style="margin-top: 33px;" *ngIf="businessDtls == true">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Business Summary</h4>
          <p class="card-description">
            Progress by <code>{{users.email}}</code>
          </p>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Bussiness Title</th>
                  <th>Owner Name</th>
                  <th>Owner Email</th>
                  <th>Category</th>
                  <th>Address</th>
                  <th>Since</th>
                  <th>RiskFactor</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of business">
                  <td>
                    1
                  </td>
                  <td>
                    {{item.bName}}
                  </td>
                  <td>
                    {{item.bOwner}}
                  </td>
                  <td>
                    {{item.bId}}
                  </td>
                  <td>
                    {{item.bCategory}}
                  </td>
                  <td>
                    {{item.address}}
                  </td>
                  <td>
                    {{item.registeredOn}}
                  </td>
                  <td>
                    <div class="br-wrapper br-theme-bars-1to10">
                      <select id="example-1to10" name="rating" autocomplete="off">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                      <div class="br-widget">
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="1"
                          *ngIf="item.riskFactor < 1" data-rating-text="1" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="1" *ngIf="item.riskFactor > 0"
                          data-rating-text="1" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="2"
                          *ngIf="item.riskFactor < 2" data-rating-text="2" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="2" *ngIf="item.riskFactor > 1"
                          data-rating-text="2" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="3"
                          *ngIf="item.riskFactor < 3" data-rating-text="3" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="3" *ngIf="item.riskFactor > 2"
                          data-rating-text="3" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="4"
                          *ngIf="item.riskFactor < 4" data-rating-text="4" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="4" *ngIf="item.riskFactor > 3"
                          data-rating-text="4" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="5"
                          *ngIf="item.riskFactor < 5" data-rating-text="5" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="5" *ngIf="item.riskFactor > 4"
                          data-rating-text="5" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="6"
                          *ngIf="item.riskFactor < 6" data-rating-text="6" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="6" *ngIf="item.riskFactor > 5"
                          data-rating-text="6" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="7"
                          *ngIf="item.riskFactor < 7" data-rating-text="7" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="7" *ngIf="item.riskFactor > 6"
                          data-rating-text="7" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="8"
                          *ngIf="item.riskFactor < 8" data-rating-text="8" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="8" *ngIf="item.riskFactor > 7"
                          data-rating-text="8" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="9"
                          *ngIf="item.riskFactor < 9" data-rating-text="9" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="9" *ngIf="item.riskFactor > 8"
                          data-rating-text="9" class="br-selected"></a>
                        <a href="#" style="background-color: red; opacity: 0.2;" data-rating-value="10"
                          *ngIf="item.riskFactor < 10" data-rating-text="10" class=""></a>
                        <a href="#" style="background-color: red;" data-rating-value="10" *ngIf="item.riskFactor > 9"
                          data-rating-text="10" class="br-selected"></a>
                        <div class="br-current-rating">{{item.riskFactor}}</div>
                      </div>
                    </div>
                  </td>
                  <td><button class="btn btn-outline-info" (click)="getBusinessInfo(item.ecd)">More Info</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper" style="margin-top: 73px;" *ngIf="profile == true">
    <div class="page-header">
      <h3 class="page-title">
        Profile
      </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">{{users.email}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <div class="border-bottom text-center pb-4">
                  <img src="../../../assets/images/faces/face12.jpg" alt="profile" class="img-lg rounded-circle mb-3" />
                  <p>Bureau Oberhaeuser is a design bureau focused on Information- and Interface Design. </p>
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-success">Hire Me</button>
                    <button class="btn btn-success">Follow</button>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <p>Skills</p>
                  <div>
                    <label class="badge badge-outline-dark">Chalk</label>
                    <label class="badge badge-outline-dark">Hand lettering</label>
                    <label class="badge badge-outline-dark">Information Design</label>
                    <label class="badge badge-outline-dark">Graphic Design</label>
                    <label class="badge badge-outline-dark">Web Design</label>
                  </div>
                </div>
                <div class="border-bottom py-4">
                  <div class="d-flex mb-3">
                    <div class="progress progress-md flex-grow">
                      <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" style="width: 55%"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="d-flex">
                    <div class="progress progress-md flex-grow">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" style="width: 75%"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="py-4">
                  <p class="clearfix">
                    <span class="float-left">
                      Status
                    </span>
                    <span class="float-right text-muted">
                      Active
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Phone
                    </span>
                    <span class="float-right text-muted">
                      006 3435 22
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Mail
                    </span>
                    <span class="float-right text-muted">
                      Jacod@testmail.com
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Facebook
                    </span>
                    <span class="float-right text-muted">
                      <a href="#">David Grey</a>
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Twitter
                    </span>
                    <span class="float-right text-muted">
                      <a href="#">@davidgrey</a>
                    </span>
                  </p>
                </div>
                <button class="btn btn-primary btn-block">Preview</button>
              </div>
              <div class="col-lg-8 pl-lg-5">
                <div class="d-flex justify-content-between">
                  <div>
                    <h3>David Grey. H</h3>
                    <div class="d-flex align-items-center">
                      <h5 class="mb-0 mr-2 text-muted">Canada</h5>
                      <select id="profile-rating" name="rating" autocomplete="off">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <!-- <button class="btn btn-outline-secondary btn-icon">
                          <i class="far fa-envelope"></i>
                        </button> -->
                    <button class="btn btn-primary">Request</button>
                    <i class="fa fa-times" style="margin:10px;cursor: pointer;" (click)="hideProfile()"></i>
                  </div>
                </div>
                <div class="mt-4 py-2 border-top border-bottom">
                  <ul class="nav profile-navbar">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa fa-user"></i>
                        Info
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="#">
                        <i class="fas fa-file"></i>
                        Feed
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa fa-calendar"></i>
                        Agenda
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="far fa-file-word"></i>
                        Resume
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="profile-feed">
                  <div class="d-flex align-items-start profile-feed-item">
                    <img src="../../../assets/images/faces/face13.jpg" alt="profile" class="img-sm rounded-circle" />
                    <div class="ml-4">
                      <h6>
                        Mason Beck
                        <small class="ml-4 text-muted"><i class="far fa-clock mr-1"></i>10 hours</small>
                      </h6>
                      <p>
                        There is no better advertisement campaign that is low cost and also successful at the same time.
                      </p>
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>4
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>11
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start profile-feed-item">
                    <img src="../../../assets/images/faces/face16.jpg" alt="profile" class="img-sm rounded-circle" />
                    <div class="ml-4">
                      <h6>
                        Willie Stanley
                        <small class="ml-4 text-muted"><i class="far fa-clock mr-1"></i>10 hours</small>
                      </h6>
                      <img src="../../../assets/images/samples/1280x768/12.jpg" alt="sample" class="rounded mw-100" />
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>4
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>11
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start profile-feed-item">
                    <img src="../../../assets/images/faces/face19.html" alt="profile" class="img-sm rounded-circle" />
                    <div class="ml-4">
                      <h6>
                        Dylan Silva
                        <small class="ml-4 text-muted"><i class="far fa-clock mr-1"></i>10 hours</small>
                      </h6>
                      <p>
                        When I first got into the online advertising business, I was looking for the magical combination
                        that would put my website into the top search engine rankings
                      </p>
                      <img src="../../../assets/images/samples/1280x768/5.jpg" alt="sample" class="rounded mw-100" />
                      <p class="small text-muted mt-2 mb-0">
                        <span>
                          <i class="fa fa-star mr-1"></i>4
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-comment mr-1"></i>11
                        </span>
                        <span class="ml-2">
                          <i class="fa fa-mail-reply"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel" style="margin-top: 73px;min-height: 100vh;width: 100%;" *ngIf="showBusinessInfo">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="card px-2">
            <div class="card-body">
              <div class="container-fluid">
                <h4 class="text-right">Business-{{businessInfo.bCategory}}-{{businessInfo.bId}}<i
                    style="cursor: pointer; margin-left:25px" class="fa fa-times" (click)="hideBusinessInfo()"></i></h4>
                <hr>
              </div>
              <div class="container-fluid d-flex justify-content-between">
                <div class="col-lg-3 pl-0">
                  <p class="mb-2"><b>{{businessInfo.bName}}</b></p>
                  <p>104,<br>{{businessInfo.address}}</p>
                </div>
                <div class="col-lg-3 pr-0">
                  <p class="mb-2 text-right"><b>Business Owner</b></p>
                  <p class="text-right">{{businessInfo.bOwner}}<br> C-201, Beykoz-34800,<br>{{businessInfo.address}}</p>
                </div>
              </div>
              <div class="container-fluid mt-5 d-flex justify-content-center w-100">
                <div class="table-responsive w-100">
                  <table class="table">
                    <thead>
                      <tr class="bg-dark text-white">
                        <th>#</th>
                        <th>Description</th>
                        <th class="text-right">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr class="text-right">
                        <td class="text-left">1</td>
                        <td class="text-left">Invested Amount</td>
                        <td>Rs. {{businessInfo.investedAmount}}</td>
                      </tr> -->
                      <tr class="text-right">
                        <td class="text-left">2</td>
                        <td class="text-left">Progress</td>
                        <td>{{businessInfo.progress}}</td>
                      </tr>
                      <tr class="text-right">
                        <td class="text-left">5</td>
                        <td class="text-left">Registeration Date : </td>
                        <td><span class="text-left">{{businessInfo.registeredOn}}</span></td>
                      </tr>
                      <!-- <tr class="text-right">
                        <td class="text-left">4</td>
                        <td class="text-left">Estimated Completion Date </td>
                        <td><span class="text-left">{{businessInfo.ecd}}</span></td>
                      </tr> -->
                      <tr class="text-right">
                        <td class="text-left">3</td>
                        <td class="text-left">Risk Factor</td>
                        <td *ngIf="businessInfo.riskFactor <5"><span
                            class="btn btn-outline-success">{{businessInfo.riskFactor}}</span></td>
                        <td *ngIf="businessInfo.riskFactor >5"><span
                            class="btn btn-outline-danger">{{businessInfo.riskFactor}}</span></td>
                      </tr>
                      <tr class="text-right">
                        <td class="text-left">4</td>
                        <td class="text-left">Status</td>
                        <td><span class="btn btn-warning">{{businessInfo.status}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal (Add bussiness) -->
  <div class="modal fade" id="exampleModal-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-2"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel-2">Bussiness Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addBusiness" class="forms-sample" (ngSubmit)="addNewBusiness()">
            <div class="form-group">
              <label for="bName">Business Name</label>
              <input type="text" formControlName="bName" class="form-control" id="bName" placeholder="Business Name">
            </div>
            <div class="form-group">
              <label for="bOwner">Owner Name</label>
              <input type="text" formControlName="bOwner" class="form-control" id="bOwner" placeholder="Owner Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Category</label>
              <select type="text" formControlName="bCategory" class="form-control" id="bCategory">
                <!--  [ngValue]="null" -->
                <option selected>Category</option>
                <option value="2">Vehicles</option>
                <option value="3">Food</option>
                <option value="4">Property</option>
              </select>
            </div>
            <div class="form-group">
              <label for="bOwner">Country</label>
              <input type="text" formControlName="bCountry" class="form-control" id="bCountry"
                placeholder="Country Name">
            </div>
            <div class="form-group">
              <label for="bOwner">City</label>
              <input type="text" formControlName="bCity" class="form-control" id="bCity" placeholder="Country Name">
            </div>
            <div class="form-group">
              <label for="bOwner">Address</label>
              <input type="text" formControlName="bAddress" class="form-control" id="bAddress"
                placeholder="Country Name">
            </div>
            <button type="submit" class="btn btn-success" style="margin-right: 10px;">Submit</button>
            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2018 <a
          href="https://www.urbanui.com/" target="_blank">Urbanui</a>. All rights reserved.</span>
    </div>
  </footer>
  <!-- partial -->
  <!-- main-panel ends -->
  <!-- page-body-wrapper ends -->
</div>
